<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>just-vue</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="sample">
        <h2>Hello, {{ name }}</h2>
      </div>
      <div class="sample">
        <h2>Hello, {{ name }}</h2>
      </div>
      <div class="sample">
        <h2>Hello, {{ name }}</h2>
      </div>
    </div>
    <div id="dny">{{ message }}</div>
    <div id="app-2">
      <span :title="message">
        Наведи курсор на меня пару секунд,
        чтобы увидеть динамически связанное значение title!
      </span>
    </div>
    <div id="app-3">
      <span v-if="seen">Сейчас меня видно</span>
    </div>
    <div id="app-7">
      <ol>
        <!--
          Теперь мы можем передать каждому компоненту todo-item объект
          с информацией о задаче, который будет динамически меняться.
          Мы также определяем для каждого компонента "key",
          значение которого будет объяснено далее в руководстве.
        -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id">
        </todo-item>
      </ol>
    </div>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
